<%- include("partials/header") %>


<div class="jumbotron">
  <h1 class="display-4">Hello, welcome to YelpCamp!</h1>
  <p class="lead">This is a simple app to help you find perfect campground.</p>
  <hr class="my-4">
  <p>Sign up/Log in to add comments to our posts.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View campgrounds</a>
  </p>
</div>

<%- include("partials/footer") %>